.header {
  background: $off-black;
  color: white;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

// When screen width is 45rem or greater...
@media (min-width: $bigscreen){
  .header {
    margin-bottom: $xl-size;
  }
}

// BEM naming convention - block element modifier
.header__title {
  font-size: $l-size;
  margin: 0;
  color: lightblue;
}

.header__subtitle {
  color: $off-lilac;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}