// Initially, we want the modal to be invisible
// When it's open, we want the opacity to be 1 (full opacity - we can also use 100%)
// We transaition opacity gradually over 400ms
// Question: I don't understand how it knows WHEN we want the transition to happen i.e. when it's opening

//.ReactModalPortal > div means: div elements that are direct descendents of class ReactModalPortal
.ReactModalPortal > div {
  opacity: 0;
}

// .ReactModalPortal .ReactModal__Overlay means: .ReactModal__Overlay child classes of class .ReactModalPortal
.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 400ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal-content {
  background: $light-blue;
  padding: $s-size $m-size;
  color: $off-lilac;
  text-align: center;
  outline: none;
  max-width: 30rem;
}

.modal-content__title {
  margin: 0 0 $l-size 0;
}

// word-break: break-all  takes care of really stupid words like wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
.modal-content__body {
  margin: 0 0 $l-size 0;
  font-size: 2rem;
  font-weight: 300;
  word-break: break-all;
}
